<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>

<div
  style="  background-color: transparent; text-align: center; height: 75px; padding:auto; margin-top: 0px; margin-bottom: -20px;margin-top: -20px; text-transform:capitalize; background-color:white; width: 100%;box-shadow: 0 2px 8px rgba(0,0,0,0.2), 0 20px 10px -13px #0000000f"
>
  <ul
    style=" list-style-type: none;overflow: hidden;background-color: white;padding: left 2re; font: 1em sans-serif;"
  >
    <li style="float: left;">
      <a
        style="display: block;color: #18191a;text-align: center;padding: 1rem; text-decoration: none;font: 2em"
      >
      <i style="color:blue" class="fab fa-3x fa-r-project"></i></a
      >
    </li>

    <li style="float: left;">
      <a
        style="display: block;color: #6c757d;text-align: center;padding: 1rem; text-decoration: none;"
        href="#home"
        >Home</a
      >
    </li>
    <li style="float: left;">
      <a
        style="display: block;color: #6c757d;text-align: center;padding: 1rem; text-decoration: none;"
        href=""
        >Features</a
      >
    </li>
    <li style="float: left;">
      <a
        style="display: block;color: #6c757d;text-align: center;padding: 1rem; text-decoration: none;"
        href="#pricing"
        >pricing</a
      >
    </li>
    <li style="float: left;">
      <a
        style="display: block;color: #6c757d;text-align: center;padding: 1rem; text-decoration: none;"
        href="#Contact"
        >Contact</a
      >
    </li>
    
    <ul style="list-style-type: none;">
      <li style="float:right;background: transparent; padding: 1rem; ">
        <a href="#">
          <i style="color:black" class="fab fa-lg fa-twitter"></i>
        </a>
      </li>
      
      <li style="float:right;padding: 1rem; ">
        <a href="www.instagram.com" target="_blank"
          ><i style="color:black" class="fab fa-lg fa-instagram"></i></a
        >
      </li>

      <li style="float:right;padding: 1rem; ">
        <a href="www.linkedin.com"
          ><i style="color:black" class="fab fa-lg fa-linkedin"></i> </a
        >
      </li>

      
      <li style="float:right;;padding: 1rem; ">
        <a href="www.facebook.com"
          ><i style="color:black" class="fab fa-lg fa-facebook"></i> </a
        >
      </li>



  </ul>
</div>
