<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/style.css" />
    <link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
    
  </head>
  <body>
    {{ partial "header" (dict "Kind" .Kind "Template" "Single") }}
    <div> 
    <div style="color:grey; font-size:16px; height: 400px; background: linear-gradient(to right bottom, #343a40 55%, #fff 50%)"
      >
        <h1 style="margin-left:100px;">Your perfect headline goes here</h1>
        <h3 style="margin-left:  100px;">And some description maybe, people will like it</h3>
        <button style="border-radius: 7px;height: 50px;margin-left: 120px;background-color:transparent ;color: #fff" href="#contect" form="form1" value="Get in tuch" >Get IN Touch</button>
  </div>
      <div style="width:auto;">
      <div style="text-align:center">
        <h2 style="text-align:center;font-size: 2rem;opacity: 0.8;">Features</h2>
        <p style="color:#6c757d !important;">We're best at our services</p>
      </div>
        <div style="text-align:center;display: flex;height: 400px;width:80%;margin-left: 100px">
            <div style="margin:25px;padding:15px">
              <i style="color:blue" class="fas fa-3x fa-bell"></i>
          <h3  style="opacity:0.7">Feature 1</h3>
          <span  style="color:#6c757d !important;display: block;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            elementum tristique arcu, in tristique sapien commodo sodales.
            Vivamus condimentum quam mi.</span
          ></div>
          <div style="margin:25px;padding:15px">
            <i style="color:#e83e8c" class="fas fa-3x fa-rocket"></i>
          <h3 style="opacity:0.7">Feature 2</h3>
          <span style="color:#6c757d !important;display: block;"> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            efficitur, est sed vestibulum viverra, mi dui semper erat, non
            placerat dolor est</span
          ></div>
          <div style="margin:25px;padding:15px">
            <i style="color:orange" class="fas fa-3x fa-clock"></i>
          <h3 style="opacity:0.7">Feature 3</h3>
          <span style="color:#6c757d !important;display: block;"> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            efficitur, est sed vestibulum viverra, mi dui semper erat, non
            placerat dolor est</span
          ></div>
         
        </div>
        </div>
    </div>
      <div style="height:540px; background: linear-gradient(to right bottom, #fff 45%, #e83e8c 40%);">
        <div style="text-align: center">
          <h2 style=" font-size: 2rem;opacity: 0.8;">pricing</h2>
          <p style="color:#6c757d !important;">pricing subtitle</p>
        </div>
        <div style="display:flex;  justify-content: center; border: #000;
        ">
          <div style="margin: 15px;
          padding: 20px; border-radius: 5px;border: 1px solid #f8f9fa;;font-size: 2rem;border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2), 0 20px 10px -13px #0000000f;
    background-color: #fff;" >Stater
          <h1 style="font-size:25px">FREE</h1><hr>
         <p style="font-size: 1rem;color:#6c757d !important;" >There is no monthly free</p>
         <p style="font-size: 1rem;color:#6c757d !important;">There is no monthly free</p>
         <p style="font-size: 1rem;color:#6c757d !important;">There is no monthly free</p>
         <button style="border-radius: 7px;height: 30px;;background-color:transparent ;color: #343a40" href="#contect" form="form1" value="Get in tuch" >Get IN Touch</button>

        </div>

        <div style="margin: 15px;
        padding: 20px; border-radius: 5px;border: 1px solid #f8f9fa;;font-size: 2rem;border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2), 0 20px 10px -13px #0000000f;
    background-color: #fff;" >Advance
        <h1 style="font-size:25px">FREE</h1><hr>
       <p style="font-size: 1rem;color:#6c757d !important;" >There is no monthly free</p>
       <p style="font-size: 1rem;color:#6c757d !important;"> free</p>
       <p style="font-size: 1rem;color:#6c757d !important;">free</p>
       <button style="border-radius: 7px;height: 30px;;background-color:transparent ;color:#343a40" href="#contect" form="form1" value="Get in tuch" >Get IN Touch</button>

      </div>

        </div>
        </div>
      </div>
      <div style="height:420px;">
        <div> <h3 style="text-align: center; font-size: 2rem ;height: 50px; margin-top:10px;opacity: 0.8;">Contact</h3>
  
    </div>
          <div style="display:flex;margin-left: 130px;margin-top: 20px">
        
        
        <div  style=" margin-left: 100px;color: #6c757d !important;">
                <h4 style="font-size:18px;">ADDRESS</h4>
                <span>H.S.R layour benglur,karnatka,india</span>
                <h4 style="font-size:18px;">Email</h4>
                <span>rajatranjan300@</span>
                <h4 style="font-size:18px;">PHONE</h4>
                <span>xxxx46985</span>
              </div>

              <div style="font-size:1rem;margin-left:100px;box-sizing: border-box;">
                <div style="display:flex">
                  <div style="font-size:20px;margin-left: 5px; width: auto;color: #6c757d !important;
                  ">
                    Name:<br>
                    <input style=" border-radius: 10px; height: 40px;background-color: #e9ecef;padding: .575rem 1.12rem; opacity: 0.8;border: 1px solid #f8f9fa;" type="text" name="firstname" value="Name" size="32"  />
                    <br>
                </div>
                    <div style="font-size:20px;margin: 5px; float:right;color: #6c757d !important;
                    ">
                    Email:<br>
                    <input style="border-radius: 10px;height:40px;font-size:10pt;background-color: #e9ecef; padding: .575rem 1.12rem;  opacity: 0.8;border: 1px solid #f8f9fa;" type="text" name="lastname" value="Email" size="32" />
                    </div>
                  </div><br>
                    <div style=" font-size: 20px;margin-left: 5px; width: auto;color: #6c757d !important;">
                    Message:<br>
                    <textarea style="border-radius: 10px;float: center;background-color: #e9ecef;border: 1px solid #f8f9fa;" rows="9" cols="80"  > Message</textarea></div><br><br>
                    <button  style="border-radius: 10px; height: 50px;width: 100px ; float: left;background-color:#fff;font-size: 1rem " type="submit" form="form1" value="Submit"  >Submit</button>
                  
                    
                  </div>
      </div>

</div>
</div>

        

      </div>
      <div style="color:grey; font-size:16px;">
        {{if .Params.author}}Author: {{.Params.Author}}{{ end }}
      </div>
      <div style="font-size:18px;">{{.Content}}</div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
